.footer {
  padding: 0 5%;
  background-color: #080a09;

  &__line {
    padding: 0 20px;
    border: 0.5px solid #ffffff80;
    margin: 0 0;
  }

  &__copy {
    font-size: 12px;
    color: #ffffff80;
  }
}

.footer-link {
  font-size: 10px;
  font-weight: 700;
}

.footer .navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

.footer .navbar .navbar-nav .nav-item {
  margin: auto 20px;
}
