//Custom Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

//Login Main Container
.login {
  width: 27em;
  height: 40em;
  //min-height: 44em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  position: relative;
  z-index: 99;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
    border-radius: 4px;
    position: relative;
    z-index: 99;
    width: 100%;
    height: 100%;
    z-index: 99;
    padding: 17px 10px;
    //transition: transform 200ms ease-in-out;
  }
}

//Button
.btn-lgn {
  font-size: 21px;
  padding: 5px 30px;
  margin-right: 0px;
  border: 0;
  background-color: #feb446;
  border-radius: 9px;
}

.base-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #080a09 !important;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;

  .header {
    font-size: 24px;
    color: #feb446;
    font-family: "Open Sans", sans-serif;
  }

  .content {
    display: flex;
    flex-direction: column;

    .image {
      width: 21em;
      img {
        width: 100%;
        height: 100%;
      }
    }

    .form {
      margin-top: 2em;
      display: flex;
      flex-direction: column;
      align-items: center;

      .form-group {
        display: flex;
        color: #feb446;
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;
        margin-top: -30px;
        label {
          font-size: 20px;
        }
        input {
          margin-top: 6px;
          min-width: 18em;
          height: 37px;
          padding: 0px 10px;
          font-size: 16px;
          font-family: "Open Sans", sans-serif;
          background-color: hsl(0, 0%, 95%);
          border: 0;
          border-radius: 2px;
          margin-bottom: 31px;
          transition: all 250ms ease-in-out;
        }
      }
    }
  }

  .footer {
    margin-top: -9px;
  }
}
