.sysreq {
  padding: 10%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../assets/landing/requirements.png");
  background-size: cover;
  background-repeat: no-repeat;

  &__box {
    max-width: 50%;
  }

  &__header {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
  }
}
