.game {
  padding: 20% 10%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../../assets/landing/the-games-bg.jpg");

  &__textbox {
    padding: 0;
  }

  &__content {
    max-width: 70%;
  }
}

.carousel-item {
  min-height: 200px;
  width: 100%;
}

.carousel-item img {
  width: 100%;
}
