.topscore {
  padding: 10%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("../../../assets/landing/topscore.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  &__box {
    margin: 0 40px 40px 0;
  }

  &__btn {
    margin-top: 40px;
    padding: 12px 60px;
    font-size: 16px;
    font-weight: 700;
    background-color: #feb446;
  }
}
