.newsletter {
  padding: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../assets/landing/newsletter-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 120vh;

  &__box {
    max-width: 50%;
  }

  &__form {
    background-color: #2f2f2f;
    color: #feb446;
    border: 0px solid;
  }

  &__form:focus {
    background-color: #2f2f2f;
    color: #feb446;
    border-color: #feb446;
    box-shadow: none;
  }

  &__btn {
    padding: 12px 60px;
    font-size: 16px;
    font-weight: 700;
    background-color: #feb446;
  }
}
