.body {
  font-family: "Open Sans";
  color: #ffffff;
  background-color: #080a09 !important;
}

.section__header {
  color: #ffffff;
  font-size: 40px;
}

.section__caption {
  color: #ffffff;
  font-size: 18px;
}

.section__header-2 {
  color: #ffb548;
  font-size: 24px;
}

.section__caption-2 {
  color: #ffffff;
  font-size: 16px;
}

.signup__link {
  color: #feb446;
}

table,
td {
  border: 0.5px solid #ffffff80;
  padding: 20px;
}

.hidden {
  display: none;
}

@media (max-width: 768px) {
  .newsletter {
    height: 80vh;
  }

  .jumbotron__title {
    font-size: 64px;
  }

  .section__header {
    font-size: 32px;
  }

  .section__caption {
    font-size: 16px;
  }

  table,
  td {
    border: 0.5px solid #ffffff80;
    padding: 10px;
  }

  .section__header-2 {
    font-size: 18px;
  }

  .section__caption-2 {
    font-size: 12px;
  }
}

@media (max-width: 1024px) {
  .feature__box {
    max-width: 100%;
  }

  .sysreq__box {
    max-width: 100%;
  }

  .newsletter__box {
    max-width: 100%;
  }

  .game__content {
    max-width: 100%;
  }

  .footer__collapse {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-link {
    font-size: 8px;
    font-weight: 700;
  }
}
