.bg-custom {
  background-color: #080a09 !important;
}

.navbar-dark .navbar-nav .signup-link {
  color: #000000;
  background-color: #feb446;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
  padding-left: 10px;
}

.navbar-dark .navbar-nav .custom-link {
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  padding-left: 10px;
}
