.tweet-card {
  max-width: 480px;
  background-color: #2f2f2f;
  border-radius: 10px;
  padding: 16px;
  justify-content: space-between;
  margin-bottom: 40px;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__avatar {
    display: flex;
  }

  &__name {
    margin-left: 20px;
  }

  &__title {
    color: #feb446;
  }

  &__subtitle {
    color: #c4c4c4;
    font-size: 12px;
  }

  &__comment {
    color: #ffffff;
  }

  &__date {
    color: #c4c4c4;
    font-size: 12px;
  }

  &__twitter {
    width: 20px;
    height: 20px;
    background: url("../../../assets/landing/twitter.svg");
    background-size: 20px 20px;
  }
}

.circle {
  height: 55px;
  width: 55px;
  background-color: #feb446;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

.thumb {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
}

.avatar__image {
  width: 50px;
  height: 50px;
}
