.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../../assets/landing/main-bg.jpg");
  margin-top: -56px;

  &__caption {
    margin-top: 200px;
  }

  &__caption__text {
    color: #ffffff;
    font-weight: 700;
  }
}

@media (min-width: 1200px) {
  .intro {
    height: 120vh;
  }
}

.jumbotron {
  background-color: #ffffff00;
  text-align: center;
  padding-top: 200px;

  &__title {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 80px;
  }

  &__caption {
    margin-top: 40px;
    color: #fff;
    font-size: 24px;
  }

  &__btn {
    margin-top: 40px;
    padding: 12px 60px;
    font-size: 16px;
    font-weight: 700;
    background-color: #feb446;
  }
}
